body {
  background-color: #ffffee;
  color: #880000;
  font-size: small;
}

#logo {
  display: block;
  margin: 0 auto;
}

.main {
  width: 900px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

.header {
  align-items: center;
  font-size: 1.2rem;
  padding: 0.2rem;
  display: flex;
  justify-content: space-between;
  background-color: #ffccaa;
}

.content {
  background-color: white;
}

.boards,
.popular-threads,
.stats {
  margin-top: 10px;
  border: 1px solid #880000;
}

.what-is-4chan {
  border: 1px solid #880000;
}

.what-is-4chan .header {
  display: flex;
  color: white;
  background-color: #880000;
}

.what-is-4chan .content{
  color: black;
}

.dismiss-button {
  width: 2rem;
  color: white;
  background-color: transparent;
}

.what-is-4chan .content {
  font-size: 0.8rem;
  background-color: #fff;
  padding: 0.2rem 0.5rem;
}

.boards .content {
  padding: 0.4rem 0.4rem;
  display: flex;
  justify-content: space-around;
}

.board-category {
  text-decoration: underline;
  font-weight: bold;
}

.popular-threads .content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.popular-thread {
  margin: 10px;
  text-align: center;
  width: 200px;
}

.popular-thread .thread-name {
  font-weight: bold;
}

.popular-thread img {
  border: 2px solid #880000;
}

.stats .content {
  display: flex;
  padding: 0.5rem 20px;
  justify-content: space-around;
}


.footer .links-part-one{
  width: 900px;
  align-self: center;
  display: flex;
  justify-content: center;
  border-top: 1px solid #880000;
  margin: 5px auto;
}

.footer .links-part-one li {
  padding: 0.2rem 1rem;
  background-color: #ffeedd;
  border: 1px solid #880000;
  border-top: none;
  border-right: none;
  color: #880000;
}

.footer li:last-child {
  border-right: 1px solid #880000;
}

.footer {
  font-size: .8rem;
  text-align: center;
}

.footer .links-part-two{
  margin: 2.5rem;
}